@use 'sass:map';
@use '@angular/material' as mat;

@mixin style-glow($palette) {
  @each $key, $value in $palette {
    @for $i from 1 through 24 {
      .glow-#{$i}-#{$key} {
        @include mat.elevation($i, map.get($value, "color"));
      }
    }

    .glow-#{$key} {
      @include mat.elevation-transition;
      @include mat.elevation(4, map.get($value, "color"));

      &:hover {
        @include mat.elevation(8, map.get($value, "color"));
      }
    }
  }
}
