@use 'sass:map';
@use '~@angular/material' as mat;

@function get-palette($light-theme: true) {
  $palette: ();

  @if $light-theme {
    $palette: (
      "red": (
        "theme": "light",
        "palette": mat.define-palette(mat.$red-palette, 500),
        "color": mat.get-color-from-palette(mat.$red-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$red-palette, 500)
      ),
      "pink": (
        "theme": "light",
        "palette": mat.define-palette(mat.$pink-palette, 500),
        "color": mat.get-color-from-palette(mat.$pink-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$pink-palette, 500)
      ),
      "purple": (
        "theme": "light",
        "palette": mat.define-palette(mat.$purple-palette, 500),
        "color": mat.get-color-from-palette(mat.$purple-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$purple-palette, 500)
      ),
      "deep-purple": (
        "theme": "light",
        "palette": mat.define-palette(mat.$deep-purple-palette, 500),
        "color": mat.get-color-from-palette(mat.$deep-purple-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$deep-purple-palette, 500)
      ),
      "indigo": (
        "theme": "light",
        "palette": mat.define-palette(mat.$indigo-palette, 500),
        "color": mat.get-color-from-palette(mat.$indigo-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$indigo-palette, 500)
      ),
      "blue": (
        "theme": "light",
        "palette": mat.define-palette(mat.$blue-palette, 500),
        "color": mat.get-color-from-palette(mat.$blue-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$blue-palette, 500)
      ),
      "light-blue": (
        "theme": "light",
        "palette": mat.define-palette(mat.$light-blue-palette, 700),
        "color": mat.get-color-from-palette(mat.$light-blue-palette, 700),
        "contrast": mat.get-contrast-color-from-palette(mat.$light-blue-palette, 700)
      ),
      "cyan": (
        "theme": "light",
        "palette": mat.define-palette(mat.$cyan-palette, 500),
        "color": mat.get-color-from-palette(mat.$cyan-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$cyan-palette, 500)
      ),
      "teal": (
        "theme": "light",
        "palette": mat.define-palette(mat.$teal-palette, 500),
        "color": mat.get-color-from-palette(mat.$teal-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$teal-palette, 500)
      ),
      "green": (
        "theme": "light",
        "palette": mat.define-palette(mat.$green-palette, A700),
        "color": mat.get-color-from-palette(mat.$green-palette, A700),
        "contrast": mat.get-contrast-color-from-palette(mat.$green-palette, A700)
      ),
      "light-green": (
        "theme": "light",
        "palette": mat.define-palette(mat.$light-green-palette, 500),
        "color": mat.get-color-from-palette(mat.$light-green-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$light-green-palette, 500)
      ),
      "lime": (
        "theme": "light",
        "palette": mat.define-palette(mat.$lime-palette, 500),
        "color": mat.get-color-from-palette(mat.$lime-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$lime-palette, 500)
      ),
      "yellow": (
        "theme": "light",
        "palette": mat.define-palette(mat.$yellow-palette, 500),
        "color": mat.get-color-from-palette(mat.$yellow-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$yellow-palette, 500)
      ),
      "amber": (
        "theme": "light",
        "palette": mat.define-palette(mat.$amber-palette, A400),
        "color": mat.get-color-from-palette(mat.$amber-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$amber-palette, A400)
      ),
      "orange": (
        "theme": "light",
        "palette": mat.define-palette(mat.$orange-palette, 500),
        "color": mat.get-color-from-palette(mat.$orange-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$orange-palette, 500)
      ),
      "deep-orange": (
        "theme": "light",
        "palette": mat.define-palette(mat.$deep-orange-palette, 500),
        "color": mat.get-color-from-palette(mat.$deep-orange-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$deep-orange-palette, 500)
      ),
      "brown": (
        "theme": "light",
        "palette": mat.define-palette(mat.$brown-palette, 500),
        "color": mat.get-color-from-palette(mat.$brown-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$brown-palette, 500)
      ),
      "gray": (
        "theme": "light",
        "palette": mat.define-palette(mat.$gray-palette, 500),
        "color": mat.get-color-from-palette(mat.$gray-palette, 500),
        "contrast": mat.get-contrast-color-from-palette(mat.$gray-palette, 500)
      ),
      "blue-gray": (
        "theme": "light",
        "palette": mat.define-palette(mat.$blue-gray-palette, 700),
        "color": mat.get-color-from-palette(mat.$blue-gray-palette, 700),
        "contrast": mat.get-contrast-color-from-palette(mat.$blue-gray-palette, 700)
      )
    );
  } @else {
    $palette: (
      "red": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$red-palette, A200),
        "color": mat.get-color-from-palette(mat.$red-palette, A200),
        "contrast": mat.get-contrast-color-from-palette(mat.$red-palette, A200)
      ),
      "pink": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$pink-palette, A400),
        "color": mat.get-color-from-palette(mat.$pink-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$pink-palette, A400)
      ),
      "purple": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$purple-palette, A400),
        "color": mat.get-color-from-palette(mat.$purple-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$purple-palette, A400)
      ),
      "deep-purple": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$deep-purple-palette, A400),
        "color": mat.get-color-from-palette(mat.$deep-purple-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$deep-purple-palette, A400)
      ),
      "indigo": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$indigo-palette, A400),
        "color": mat.get-color-from-palette(mat.$indigo-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$indigo-palette, A400)
      ),
      "blue": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$blue-palette, A400),
        "color": mat.get-color-from-palette(mat.$blue-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$blue-palette, A400)
      ),
      "light-blue": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$light-blue-palette, A400),
        "color": mat.get-color-from-palette(mat.$light-blue-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$light-blue-palette, A400)
      ),
      "cyan": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$cyan-palette, A400),
        "color": mat.get-color-from-palette(mat.$cyan-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$cyan-palette, A400)
      ),
      "teal": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$teal-palette, A400),
        "color": mat.get-color-from-palette(mat.$teal-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$teal-palette, A400)
      ),
      "green": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$green-palette, A200),
        "color": mat.get-color-from-palette(mat.$green-palette, A200),
        "contrast": mat.get-contrast-color-from-palette(mat.$green-palette, A200)
      ),
      "light-green": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$light-green-palette, A400),
        "color": mat.get-color-from-palette(mat.$light-green-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$light-green-palette, A400)
      ),
      "lime": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$lime-palette, A400),
        "color": mat.get-color-from-palette(mat.$lime-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$lime-palette, A400)
      ),
      "yellow": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$yellow-palette, A400),
        "color": mat.get-color-from-palette(mat.$yellow-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$yellow-palette, A400)
      ),
      "amber": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$amber-palette, A200),
        "color": mat.get-color-from-palette(mat.$amber-palette, A200),
        "contrast": mat.get-contrast-color-from-palette(mat.$amber-palette, A200)
      ),
      "orange": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$orange-palette, A400),
        "color": mat.get-color-from-palette(mat.$orange-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$orange-palette, A400)
      ),
      "deep-orange": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$deep-orange-palette, A400),
        "color": mat.get-color-from-palette(mat.$deep-orange-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$deep-orange-palette, A400)
      ),
      "brown": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$brown-palette, A400),
        "color": mat.get-color-from-palette(mat.$brown-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$brown-palette, A400)
      ),
      "gray": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$gray-palette, A400),
        "color": mat.get-color-from-palette(mat.$gray-palette, A400),
        "contrast": mat.get-contrast-color-from-palette(mat.$gray-palette, A400)
      ),
      "blue-gray": (
        "theme": "dark",
        "palette": mat.define-palette(mat.$blue-gray-palette, 200),
        "color": mat.get-color-from-palette(mat.$blue-gray-palette, 200),
        "contrast": mat.get-contrast-color-from-palette(mat.$blue-gray-palette, 200)
      )
    );
  }

  $palette: map.set($palette, "primary", map.get($palette, "light-blue"));
  $palette: map.set($palette, "accent", map.get($palette, "blue-gray"));
  $palette: map.set($palette, "warn", map.get($palette, "red"));

  @return $palette;
}

@function get-theme($palette) {
  @return (
    color: (
      "primary": get-theme-palette($palette, "primary"),
      "accent": get-theme-palette($palette, "accent"),
      "warn": get-theme-palette($palette, "warn")
    )
  );
}

@function get-theme-palette($palette, $color) {
  @return map.get(map.get($palette, $color), "palette");
}

@function get-theme-color($palette, $color) {
  @return map.get(map.get($palette, $color), "color");
}

@function get-theme-contrast($palette, $color) {
  @return map.get(map.get($palette, $color), "contrast");
}
