@use '@angular/material' as mat;
@use './palette.scss';

@include mat.core();

@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';

@import './elevation.scss';
@import './icons.scss';
@import './layout.scss';
@import './styles.scss';
@import './typography.scss';
@import './utility.scss';

$light-palette: palette.get-palette();
$light-theme: mat.define-light-theme(palette.get-theme($light-palette));

.prism-theme {
  @import '~prism-themes/themes/prism-material-light';
}

@include style-theme($light-theme, $light-palette);
@include mat.all-component-themes($light-theme);

.app-dark {
  $dark-palette: palette.get-palette(false);
  $dark-theme: mat.define-dark-theme(palette.get-theme($dark-palette));

  .prism-theme {
    @import '~prism-themes/themes/prism-material-dark';
  }

  @include style-theme($dark-theme, $dark-palette);
  @include mat.all-component-colors($dark-theme);
}
