<section fxLayout="column"
         fxLayoutAlign="start stretch"
         [ngClass]="cardStyle"
         fxFlex>
  <ng-container *ngIf="!(expanded)">
    <button mat-icon-button
            matTooltip="Expand"
            class="mb8"
            (click)="toggleExpanded()">
      <mat-icon>open_in_full</mat-icon>
    </button>
    <p class="m4 mat-subheading-2 bold"
       [style.writing-mode]="'vertical-lr'"
       [style.text-orientation]="'mixed'">{{header}}</p>
  </ng-container>
  <ng-container *ngIf="expanded">
    <section fxLayout="row"
             fxLayoutAlign="start center"
             class="py8">
      <ng-content select=".action"></ng-content>
      <p class="m4 mat-subheading-2 bold"
         fxFlex>{{header}}</p>
      <button mat-icon-button
              matTooltip="Collapse"
              [disabled]="disabled"
              (click)="toggleExpanded()">
        <mat-icon>close_fullscreen</mat-icon>
      </button>
    </section>
    <ng-content></ng-content>
  </ng-container>
</section>
